body {
    margin-left: 10%; 
    font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-bottom: 10%; 
    margin-right: 10%; 
    background-color: white; 
}

p {
    text-align: center; 
}

h1 {
    text-align: center; 
}

h3 
{
    text-align: center; 
}

h5
{
    
}

